.details {
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	padding: 1rem;
	max-width: 40rem;
	border-radius: 1rem;
	box-shadow: 0.125rem 0.125rem 0.25rem var(--color-shadow);
}
.detailsInfo {
	display: flex;
	justify-content: center;
	align-items: left;
	flex-direction: column;
	width: 100%;
}
.header {
	padding: 1rem 0;
	color: var(--color-main);
	font-weight: bold;
	border-bottom: 0.0625rem solid var(--color-main);
}

.name {
	margin-left: 1rem;
	width: 50%;
	font-weight: bold;
	overflow-wrap: break-word;
}

.singleInfo {
	display: flex;
	justify-content: start;
	width: 17rem;
}
.singleInfo p {
	text-align: left;
	width: 50%;
}
.buttons {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.buttons a {
	text-decoration: none;
}
button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 1rem;
	margin: 3rem 1rem 2rem;
	background-color: var(--color-background);
	border: none;
	border: 1rem;
	border-radius: 1rem;
	cursor: pointer;
}

button:hover {
	background-color: var(--color-hover);
}
.arrowImg {
	font-size: 0.5rem;
	margin-right: 0.5rem;
}
.editImg {
	margin-left: 0.5rem;
}
input {
	margin-left: 2rem;
}
textarea {
	resize: vertical;
}
input,
textarea {
	padding: 1rem;
	font-family: 'Segoe UI', Verdana, sans-serif;
}
.select {
	width: 100%;
	text-align: center;
	padding: 2rem 0;
	font-size: 1rem;
}
.select select {
	border: none;
	border-bottom: 0.1rem solid var(--color-main);
	background: none;
	font-family: inherit;
	font-size: 1rem;
}
.dateSettings {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 1rem 0;
	width: 100%;
}
.dateSettings select{
	margin-left: 1rem;
}
.error {
	text-align: right;
	color: var(--color-error);
}

.withinScope {
	color: var(--color-main);
}
.beyondScope {
	color: var(--color-error);
}

@media (min-width: 576px) {
	.details {
		padding: 2rem;
	}
	button {
		padding: 1rem 2rem;
	}
	.singleInfo {
		width: 33rem;
	}
	.dateSettings {
		flex-direction: row;
	}
}

@media (min-width: 768px) {
	.singleInfo {
		width: 40rem;
	}
}
