.dateSettings,
.details {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.details {
	padding: 1rem;
	border-radius: 1rem;
	box-shadow: 0.125rem 0.125rem 0.25rem var(--color-shadow);
}
.detailsInfo {
	margin: 1rem;
}
.header {
	padding: 1rem 0;
	color: var(--color-main);
	font-weight: bold;
	border-bottom: 0.0625rem solid var(--color-main);
}
.name {
	margin: 1rem;
	font-weight: bold;
	overflow-wrap: break-word;
}
.singleInfo {
	display: flex;
}
.singleInfo p {
	text-align: left;
	width: 50%;
}
.dateSettings {
	margin: 1rem 0;
	width: 100%;
}
.error {
	text-align: right;
	color: var(--color-error);
}

.withinScope {
	color: var(--color-main);
}
.beyondScope {
	color: var(--color-error);
}

@media (min-width: 576px) {
	.dateSettings {
		flex-direction: row;
	}
}

@media (min-width: 768px) {
	.detailsInfo {
		margin: 2rem;
	}
}
