.chart {
	width: 18rem;
	padding: 1rem;
}
canvas {
	display: flex;
}

@media (min-width: 414px) {
	.chart {
		width: 25rem;
		height: 20rem;
	}
}
@media (min-width: 576px) {
	.chart {
		width: 33rem;
	}
}

@media (min-width: 768px) {
	.chart {
		width: 40rem;
	}
}
