.select {
	padding: 2rem 0;
	width: 100%;
	text-align: center;
	font-size: 1rem;
}
.select select {
	margin-left: 1rem;
	font-size: 1rem;
	font-family: inherit;
	border: none;
	border-bottom: 0.1rem solid var(--color-main);
	background: none;
	cursor: pointer;
}
