.singleInfo {
	display: flex;
	justify-content: start;
}
.singleInfo p {
	text-align: left;
	width: 50%;
}
.name {
	margin: 1rem;
	width: 50%;
	font-weight: bold;
	overflow-wrap: break-word;
}
textarea {
	resize: vertical;
	max-height: 20rem;
}
input,
textarea {
	padding: 1rem;
	font-family: 'Segoe UI', Verdana, sans-serif;
}

@media (min-width: 576px) {
	.singleInfo {
		width: 33rem;
	}
}

@media (min-width: 768px) {
	.singleInfo {
		width: 40rem;
	}
}
