.modules {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 2rem;
	width: 40rem;
	border-radius: 1em;
	box-shadow: 0.125em 0.125em 0.25em #9f9f9f;
}

.module {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	border-bottom: 0.0625em solid #1c851c;
}
.module:last-of-type {
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	border-bottom: none;
}
.module:hover {
	background-color: #b6e7b6;
}

.headers {
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-weight: bold;
	color: #1c851c;
	border-bottom: 0.125em solid #1c851c;
}
.headers p {
	padding: 1em;
	width: 33.3%;
	text-align: center;
}
ul {
	padding: 0 4em;
	margin: 0;
	width: 100%;
}
li {
	padding: 1em;
}

li p {
	width: 33.3%;
	text-align: center;
}
li a {
	display: flex;
	width: 100%;
	color: #000000;
	text-decoration: none;
}
