.modules {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 2rem;
	border-radius: 1rem;
	box-shadow: 0.125rem 0.125rem 0.25rem var(--color-shadow);
}

.module {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	border-bottom: 0.0625rem solid var(--color-main);
}
.module:last-of-type {
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	border-bottom: none;
}
.module:hover {
	background-color: var(--color-hover);
}

.headers {
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-weight: bold;
	color: var(--color-main);
	border-bottom: 0.125rem solid var(--color-main);
}
.headers p {
	padding: 0.5rem;
	width: 33.3%;
	font-size: 0.75rem;
	text-align: center;
}
ul {
	padding: 0 4rem;
	margin: 0;
	width: 100%;
}

li p {
	padding: 0.5rem;
	width: 33.3%;
	font-size: 0.75rem;
	text-align: center;
}
li a {
	display: flex;
	width: 100%;
	color: var(--color-text);
	text-decoration: none;
}
.withinScope {
	color: var(--color-main);
}
.beyondScope {
	color: var(--color-error);
}
@media (min-width: 576px) {
	.headers p,
	li p {
		font-size: 1rem;
	}
}
@media (min-width: 768px) {
	.modules {
		width: 45rem;
	}
	.headers p,
	li p {
		font-size: 1.5rem;
	}
}
